body {
  margin: 0;
  padding: 0;
  background-color: #D9D2E2;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  background-color: #FFFFFF;
  height: auto;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Buttons */
/*-------------------------------------------*/
.back-button {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #FFA07A, #FFC107);
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.refresh-page {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #696AAD, #8C87DA);
  width: 35px;
  height: 35px;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

.refresh-page img {
  filter: invert(100%) brightness(100%) contrast(100%) sepia(100%) saturate(0%) hue-rotate(0deg);
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.reviewButton button {
  font-size: 10px;
  position: relative;
  bottom: 75px;
  float: right;
  width: 135px;
  height: 30px;
  background-color: #696AAD;
  background: linear-gradient(to bottom, #FFC107, #FFA07A);
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
}

.reviewButton button:hover {
  background: linear-gradient(to bottom, #FFA07A, #FFC107);
}

.reviewButton img {
  width: 10px;
  height: 10px;
}

/*-------------------------------------------*/

.product-name {
  margin: 30px auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.detail .image img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  margin: 20px auto;
  border-radius: 10px;
}

.name {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

.price {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #696AAD;
  margin: 0px;
}

.priceBackground {
  background-color: #F0EFFE;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sellerBackground {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sellerIcon .Icon img {
  display: flex;
  border: 5px solid #FDAB1C;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.sellerName {
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
}

.sellerCredit {
  font-size: 10px;
  margin: 5px;
}

.sendMessageButton button {
  position: relative;
  left: 10px;
  bottom: 50px;
  background: linear-gradient(to bottom, #696AAD, #8c87da);
  color: #FFFFFF;
  border-radius: 10px;
  width: 100%;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  float: right;
  margin: 10px;
}

.sendMessageButton button svg {
  color: #FFFFFF;
  position: relative;
  top: 2px;
  width: auto;
  height: 15px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
}

.squareBackground {
  position: relative;
  bottom: 10px;
  background-color: #F0EFFE;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.detailBackground {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  text-align: justify;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  font-weight: 350;
  margin: 15px;
}

.remove-product-button {
  flex: block;
  position: absolute;
  top: 0;
  right: 35px;
  display: block;
  float: right;
  padding: 10px;
  cursor: pointer;
  background: linear-gradient(to bottom, #FF3737, #FF6969);
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
}